.center {
    display: flex;
    justify-content: center;
}

.margin {
    margin-top: 1%;
    margin-bottom: 1%;
}

.margin-search-bar {
    margin-top: 1%;
}

.dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    font-size: medium;
}

.dropdown:empty {
    border: none;
}

.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}

.search-inner {
    display: flex;
    justify-content: center;
}

.exercise-header{
    font-size: large;
}

.exercise-content{
    font-size: medium;
}

.margin-header{
    margin: 2%;
}

