.center {
    display: flex;
    justify-content: center;
}

.margin-header {
    margin: 2%;
}

.margin-workouts-exercises {
    margin-top: 1%;
    margin-bottom: 0.5%;
}

.margin {
    margin: 0.5%;
}

.margin-create-button {
    margin-top: 2%;
}